#mainMenuContainer{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#mainMenuBackground{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: -10;
}

#mainMenuTitle{
    display: inline-block;
    font-family: inherit;
    text-align: right;
    width: 90%;
    padding-right: 10%;
    font-size: 5em;
    z-index:999;
    position: absolute;
    top:0;
    left:0;
}

#mainMenuContentWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 5;
}

#mainMenuOptions{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-menu-option{
    display: inline;
    border-radius: 50%;
    background-color: #FFCF61;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
    border: none;
    cursor: pointer;
    margin: 0 2vw;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
}

.play-icon{
    background-size: 60%;
    width: 15vw;
    background-image: url("/assets/main_menu/icons/play_icon.svg");
}

.settings-icon{
    background-size: 50%;
    width: 10vw;
    background-image: url("/assets/main_menu/icons/settings_icon.svg");
}

.profile-icon{
    background-size: 40%;
    width: 10vw;
    background-image: url("/assets/main_menu/icons/profile_icon.svg");
}

#versionNumber{
    display: inline-block;
    position: absolute;
    bottom: 15vh;
    left: 5vw;
    font-size: 1.5em;
}